{% extends "base.html" %}
{% block title %} Admin Dashboard {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div class="display-4">Admin Dashboard</div>
        {# Admin logout #}
        <button class="float-end btn btn-primary">
            <a class="text-decoration-none text-body" href="{{ url_for('admin.admin_logout') }}">Log out</a>
        </button>
        <br>
        <hr>

        <div class="d-flex justify-content-between bg-light">
            {# Delete board #}
            <div class="form-group">
                <form action="{{ url_for('admin.admin_board_delete') }}" method="post">
                    <h3>Delete Board</h3>
                    <div class="mb-3">
                        <label class="form-label" for="Bid">Board ID</label>
                        <input class="form-control" type="text" name="Bid" id="Bid">

                    </div>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </form>
            </div>

            {# Delete post #}
            <div class="form-group">
                <form action="{{ url_for('admin.admin_post_delete') }}" method="post">
                    <h3>Delete Post</h3>
                    <div class="mb-3">
                        <label class="form-label" for="Pid">Post ID</label>
                        <input class="form-control" type="text" name="Pid" id="Pid">
                    </div>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </form>
            </div>

            {# Delete comment #}
            <div class="form-group">
                <form action="{{ url_for('admin.admin_comment_delete') }}" method="post">
                    <h3>Delete Comment</h3>
                    <div class="mb-3">
                        <label class="form-label" for="Cid">Comment ID</label>
                        <input class="form-control" type="text" name="Cid" id="Cid">
                    </div>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </form>
            </div>
        </div>


        {# Admin report handling #}
        <div class="container">
            <div class="display-6">Reports</div>
            <hr>


            {% for report in data['reports'] %}
                <div class="text-muted">Report ID: {{ report['Rid'] }}</div>
                <div class="text-muted">{{ report['target'] }}ID: {{ report['target_ID'] }}</div>
                <div class="text-muted">Reporter ID: {{ report['Uid'] }}</div>
                <div class="float-end blockquote-footer">{{ moment(report['timestamp']).fromNow() }}</div>
                <div class="lead">{{ report['reason'] }}</div>
                <form action="{{ url_for('admin.admin_report_resolve') }}" method="post">
                    <input type="hidden" value="{{ report['Rid'] }}">
                <button class="btn btn-outline-dark" type="submit">Resolve</button>
                </form>


                <hr>
            {% endfor %}



            {# Pagination #}
            <nav {% if data['num_page'] <= 1 %}style="display: none"{% endif %}>
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if data['page'] == 1 %}disabled{% endif %}">
                        <a class="page-link" href="javascript:setParam('page',{{ data['page'] - 1 }})"
                           tabindex="-1">Previous</a>
                    </li>

                    {% for i in range(1, 1 + data['num_page']) %}
                        <li class="page-item{% if i == data['page'] %} active {% endif %}">
                            <a class="page-link" href="javascript:setParam('page',{{ i }})">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item {% if data['page'] == data['num_page'] %}disabled{% endif %}">
                        <a class="page-link" href="javascript:setParam('page',{{ data['page'] + 1 }})">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}
