{% extends "base.html" %}

{% block title %} OurTieba {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Hey, there!</h1>
        <button type="button" class="btn btn-primary">AJAX REQUEST</button>
    </div>
    <br>
    <input type="file" accept="image/*" onchange="uploadImg(this.files[0]);">

    {% for board in data['boards'] %}
        <article class="post">
            <header>
                <div>
                    <h3>{{ board['name'] }}</h3>
                    <h3>Board ID: {{ board['Bid'] }}</h3>
                    <h3>Post count: {{ board['post_count'] }}</h3>

                </div>
            </header>
            <p class="body">{{ board['summary'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

    {% for news in data['news'] %}
        <article class="post">
            <header>
                <div>
                    <h3>{{ news['title'] }}</h3>
                    <div>{{ news['abstract'] }} </div>
                </div>
            </header>
            <p class="body">{{ news['summary'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <script>
        $("button").on("click", () => {
            $.ajax({
                url: "/getsomething",
                success: function (data) {
                    $("h1").text(data.data[0].name);
                }
            })
        })

        function uploadImg(file) {
            if (file.type.substr(0, 5) !== "image") {
                alert("Invalid File Type!");
                return;
            }
            if (file.size > (3 * 1024 * 1024)) {
                alert("Image Too Large!");
                return;
            }
            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                method: "post",
                url: "/api/upload",
                data: formData,
                processData: false,
                contentType: false,
                success: (data) => {
                    if (data.hasOwnProperty("status")) {
                        alert("Successfully uploaded image!");
                        location.reload();
                    } else {
                        alert(data.error.msg);
                    }
                }
            })
        }
    </script>
{% endblock %}
