{% extends "base.html" %}

{% block title %} OurTieba {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Hey, there!</h1>
        <button type="button" class="btn btn-primary">AJAX REQUEST</button>
    </div>
    <script>
        $("button").on("click", () => {
            $.ajax({
                url: "/getsomething",
                success: function (data) {
                    $("h1").text(data.data[0].name);
                }
            })
        })
    </script>
{% endblock %}
