{% extends "base.html" %}

{% block title %}OurTieba{% endblock %}

{% block page_content %}

    <h1>Login</h1>
    <hr>
    <form action="{{ url_for('api.login_auth') }}" method="post">
        <label for="uname">Username: </label>
        <input name="uname" id="uname" required>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
    </form>
    <button id="btn-submit">Log In</button>
    <p id="username-err"></p>
<script>
$("#btn-submit").on("click", () => {
    $.ajax({
        method: "post",
        url: "/api/auth/login",
        dataType: "json",
        data: {"uname": $("#uname").val(), "password": $("#password").val()},
        success: function (data) {
            if (data.status) {
                window.location.href = "/";
            } else {
                $("#username-err").text(data.error.msg); // # = id, . = class
            }
        }
    })
})
</script>
{% endblock %}
