{% extends "base.html" %}

{% block title %} Post {% endblock %}

{% block page_content %}
    {{ data }}
    <p style="font-size:50px">{{ data['post_info']['name'] }}</p>
    <div style="text-align: right">
        Rank by:
        <a class="text-decoration-none" href="javascript:setParam('order', 'newest')">newest</a>
        <a class="text-decoration-none" href="javascript:setParam('order', 'like_count')">likes</a>
    </div>

    <h1>{{ data['post_info']['title'] }}</h1>

    <div class="blockquote-footer">{{ moment(data['post_info']['publish_time']).fromNow() }}</div>
    <div class="float-start">
        <a class="text-decoration-none"
           href="{{ url_for('abstract_user.get_personal_profile', Uid=data.post_info['Uid']) }}">
            <img src="{{ '/cdn/'+ data.post_info["avatar"] }}" width="32" height="32" class="rounded-circle">
        </a>
    </div>
    <div class="lead float-start">
        <a class="text-body text-decoration-none"
           href="{{ url_for('abstract_user.get_personal_profile', Uid=data.post_info['Uid']) }}">&nbsp;{{ data.post_info['owner'] }}</a>
    </div>
    <br>
    <br>
    <div class="btn-group">
        <button class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-up"></i>{{ data.post_info['like_count'] }}
        </button>
        <button class="btn btn-outline-dark"><i class="bi bi-hand-thumbs-down"></i>{{ data.post_info['dislike_count'] }}
        </button>
    </div>
    <hr>
    <p>{{ data['post_info']['content'] }}</p>
    <hr>
    {% for comment in data['comments'] %}
        <article class="post">
            <header>
                <div>
                    <div class="float-start">
                        <a class="text-body text-decoration-none"
                           href="{{ url_for('abstract_user.get_personal_profile', Uid=comment['Uid']) }}">
                            <img src="{{ '/cdn/'+ comment["user_avatar"] }}" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                    </div>
                    <a class="text-body text-decoration-none"
                       href="{{ url_for('abstract_user.get_personal_profile', Uid=comment['Uid']) }}">
                        <div class="lead">&nbsp;{{ comment['publish_user'] }}</div>
                    </a>
                    <br>
                    <div class="blockquote-footer float-end">{{ moment(comment['publish_time']).fromNow() }}</div>
                    <div class="btn-group">
                        <form action="/api/like" method="post">
                            <input type="hidden" name="cid" value={{ comment['Cid'] }}>
                            <div class="btn btn{% if comment['liked_by_user'] %}{% else %}-outline{% endif %}-danger" type="submit"><i
                                    class="bi bi-hand-thumbs-up"></i>{{ comment['like_count'] }}</div>
                        </form>
                        <form action="/api/dislike" method="post">
                            <input type="hidden" name="cid" value={{ comment['Cid'] }}>
                            <div class="btn btn{% if comment['disliked_by_user'] %}{% else %}-outline{% endif %}-dark" type="submit"><i
                                    class="bi bi-hand-thumbs-down"></i>{{ comment['dislike_count'] }}</div>
                        </form>
                    </div>
                    <div>liked by {{ comment['like_count'] }} </div>
                    <div class="float-end">
                        <a class="text-decoration-none text-body"
                           href="{{ url_for('user.report', target='comment', id=comment.Cid) }}"><div class="btn btn-outline-info">Report</div></a>
                    </div>
                </div>
            </header>
            <p class="body">{{ comment['content'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

    {# Pagination #}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item {% if data['page'] == 1 %}disabled{% endif %}">
                <a class="page-link" href="javascript:setParam('page',{{ data['page'] - 1 }})"
                   tabindex="-1">Previous</a>
            </li>

            {% for i in range(1, 1 + data['num_page']) %}
                <li class="page-item{% if i == data['page'] %} active {% endif %}">
                    <a class="page-link" href="javascript:setParam('page',{{ i }})">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item {% if data['page'] == data['num_page'] %}disabled{% endif %}">
                <a class="page-link" href="javascript:setParam('page',{{ data['page'] + 1 }})">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}
