{% extends "base.html" %}

{% block title %} Post {% endblock %}

{% block page_content %}
    <p style="font-size:50px">{{ data['post_info']['name'] }}</p>
    <div style="text-align: right">
        Rank by:
        <a href="?order=newest">newest</a>
        <a href="?order=like_count">likes</a>
    </div>

    <h1>{{ data['post_info']['title'] }}</h1>
    <p>{{ data['post_info']['content'] }}</p>
    <hr>
    {% for comment in data['comments'] %}
        <article class="post">
            <header>
                <div>
                    <h3>Comment id: {{ comment['Cid'] }}</h3>
                    <div class="blockquote-footer">{{ moment(comment['publish_time']).fromNow() }}</div>
                    <form action="/api/like" method="post">
                        <input type="hidden" name="cid" value= {{ comment['Cid'] }} >
                        <button type="submit">Like</button>
                    </form>
                    <form action="/api/dislike" method="post">
                        <input type="hidden" name="cid" value= {{ comment['Cid'] }} >
                        <button type="submit">Dislike</button>
                    </form>
                    <div><a href="/report">Report</a></div>
                    <div>liked by {{ comment['like_count'] }} </div>
                </div>
            </header>
            <p class="body">{{ comment['content'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
