{% extends "base.html" %}

{% block title %} Post {% endblock %}

{% block page_content %}
    <input id="init-data" type="hidden" value={{ session["Uid"] }} >
    {{ data }}
    <div class="card">
        <div class="card-body">
            <div class="display-1">{{ data['post_info']['title'] }}</div>

            <br>

            <div class="blockquote-footer">{{ moment(data['post_info']['publish_time']).fromNow() }}</div>
            <div style="text-align: right; {% if data['num_page'] <= 1 %}display: none{% endif %}">
                Rank by:
                <a class="text-decoration-none" href="javascript:setParam('order', 'newest')">newest</a>
                <a class="text-decoration-none" href="javascript:setParam('order', 'like_count')">likes</a>
            </div>
            <div class="float-start">
                <a class="text-decoration-none"
                   href="{{ url_for('abstract_user.get_personal_profile', Uid=data.post_info['Uid']) }}">
                    <img src="{{ '/cdn/'+ data.post_info["avatar"] }}" width="32" height="32" class="rounded-circle">
                </a>
            </div>
            <div class="lead float-start">
                <a class="text-body text-decoration-none"
                   href="{{ url_for('abstract_user.get_personal_profile', Uid=data.post_info['Uid']) }}">&nbsp;{{ data.post_info['owner'] }}</a>
            </div>
            <br>
            <br>

            <div class="btn-group">
                <form action="{{ url_for('api.like') }}" method="post">
                    <input type="hidden" name="target" value="post">
                    <input type="hidden" name="id" value={{ data.post_info['Pid'] }}>
                    <input type="hidden" name="like" value="{{ 0 if data.post_info['liked_by_user'] else 1 }}">
                    <button class="btn btn-sm
                    btn{% if data.post_info['liked_by_user'] %}{% else %}-outline{% endif %}-danger"
                            type="submit">
                        <i class="bi bi-hand-thumbs-up"></i>{{ data.post_info['like_count'] }}</button>
                </form>
                <form action="{{ url_for('api.dislike') }}" method="post">
                    <input type="hidden" name="target" value="post">
                    <input type="hidden" name="id" value={{ data.post_info['Pid'] }}>
                    <input type="hidden" name="like" value="{{ 0 if data.post_info['disliked_by_user'] else 1 }}">
                    <button class="btn btn-sm
                            btn{% if data.post_info['disliked_by_user'] %}{% else %}-outline{% endif %}-dark"
                            type="submit">
                        <i class="bi bi-hand-thumbs-up"></i>{{ data.post_info['dislike_count'] }}</button>
                </form>

            </div>
            {# Report post button #}
            <div class="float-end">
                <a class="text-decoration-none text-body"
                   href="{{ url_for('user.report', target='post', id=data.post_info['Pid']) }}">
                    <div class="btn btn-outline-info">Report</div>
                </a>
            </div>

            {% if session['Uid'] and session['Uid'] == data.post_info['Uid'] %}
                {# Delete post trigger #}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletePostModal">
                    Delete Post
                </button>

                {# Delete post modal #}
                <div class="modal fade" id="deletePostModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the post?
                                <br>
                                (All the comments are also deleted!)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('api.delete_post') }}" method="post">
                                    <input type="hidden" name="Bid" value="{{ data.post_info['Bid'] }}">
                                    <input type="hidden" name="Pid" value="{{ data.post_info['Pid'] }}">
                                    <button class="btn btn-primary" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Post content #}
            <hr>

            <p>{{ data['post_info']['content'] }}</p>
        </div>
    </div>

    {# Comments #}
    {% if data['comments']|length > 0 %}
        <br>
        <div class="display-6">Comments:</div>
        <br>
    {% endif %}

    {% for comment in data['comments'] %}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="float-start">
                        <a class="text-body text-decoration-none"
                           href="{{ url_for('abstract_user.get_personal_profile', Uid=comment['Uid']) }}">
                            <img src="{{ '/cdn/'+ comment["user_avatar"] }}" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                    </div>
                    <a class="text-body text-decoration-none"
                       href="{{ url_for('abstract_user.get_personal_profile', Uid=comment['Uid']) }}">
                        <div class="lead">&nbsp;{{ comment['publish_user'] }}</div>
                    </a>
                </div>
                <div class="blockquote-footer float-end">{{ moment(comment['publish_time']).fromNow() }}</div>
                <div class="card-body">
                    {# Add like and dislike logic #}
                    {# TODO: change this code to ajax #}
                    <div class="btn-group">
                        <form action="{{ url_for('api.like') }}" method="post">
                            <input type="hidden" name="target" value="comment">
                            <input type="hidden" name="id" value={{ comment['Cid'] }}>
                            <input type="hidden" name="like" value="{{ 0 if comment['liked_by_user'] else 1 }}">
                            <button class="btn btn-sm" style="color: red"
                                    type="submit">
                                <i class="bi
                                bi-hand-thumbs-up{% if comment['liked_by_user'] %}-fill{% endif %}"></i>
                                {{ comment['like_count'] }}
                            </button>
                        </form>
                        <form action="{{ url_for('api.dislike') }}" method="post">
                            <input type="hidden" name="target" value="comment">
                            <input type="hidden" name="id" value={{ comment['Cid'] }}>
                            <input type="hidden" name="like" value="{{ 0 if comment['disliked_by_user'] else 1 }}">
                            <button class="btn btn-sm
                            btn{% if comment['disliked_by_user'] %}{% else %}-outline{% endif %}-dark" type="submit">
                                <i class="bi
                                bi-hand-thumbs-up{% if comment['disliked_by_user'] %}-fill{% endif %}"></i>
                                {{ comment['dislike_count'] }}
                            </button>
                        </form>

                    </div>

                    {% if session['Uid'] and session['Uid'] == comment['Uid'] %}
                        {# Delete comment trigger #}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#deleteCommentModal{{ loop.index }}">
                            Delete
                        </button>

                        {# Delete comment modal #}
                        <div class="modal fade" id="deleteCommentModal{{ loop.index }}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Comment</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete the comment?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                        </button>
                                        <form action="{{ url_for('api.delete_comment') }}" method="post">
                                            <input type="hidden" name="Cid" value="{{ comment['Cid'] }}">
                                            <input type="hidden" name="Pid" value="{{ data.post_info['Pid'] }}">
                                            <button class="btn btn-primary" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="float-end">
                        <a class="text-decoration-none text-body"
                           href="{{ url_for('user.report', target='comment', id=comment.Cid) }}">
                            <div class="btn btn-outline-info">Report</div>
                        </a>
                    </div>
                </div>
                <div class="card-body">{{ comment['content'] }}</div>
            </div>
        </div>
        {% if not loop.last %}
            <br>
        {% endif %}
    {% endfor %}
    <hr>
    {# Add comment #}
    <div class="card">
        <div class="card-body">
            <div>
                <div class="form-group row">
                    <label for="content" class="col-sm-2 col-form-label">Add Comment</label>
                    <div class="col-sm-10">
                    <!-- <textarea class="form-control" name="content" id="content" rows="5"
                              placeholder="Comment"></textarea> -->
                        <script id="editor" type="text/plain" style="width: 100%; height: 200px"></script>
                    </div>
                </div>
                <br>
                <input type="hidden" id="Pid" value="{{ data['post_info']['Pid'] }}">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-primary">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <script charset="UTF-8" src="/ueditor/ueditor.config.js"></script>
    <script charset="UTF-8" src="/ueditor/ueditor.all.min.js"></script>
    <script charset="UTF-8" src="/ueditor/lang/en/en.js"></script>
    <script>
        var Uid = $("#init-data").val();
        var ue = UE.getEditor('editor', {
            toolbars: [["simpleupload", "link", "|", "undo", "redo"]],
            enterTag: "br",  // user "br" instead of "p" to escape line
            imageScaleEnabled: false,
            elementPathEnabled : false,
            wordCount: !!Uid,
            maximumWords: 1000
        });
        ue.ready(() => {
            // get rid of popup messages
            $(".edui-editor-messageholder.edui-default").css({ "visibility": "hidden" });
            if (!Uid) {
                // disable editor
                ue.setDisabled();
                // add log in display info
                var view = $("iframe#ueditor_0").contents().find("body.view");
                view.html("Please <a href='/login' target='_top'>log in</a> to create comment.");
            }
        })

        $(".btn-primary").on("click", () => {
            // check login status
            if (!Uid) {
                alert("Please log in to create a comment!");
                location.href = "/login";
                return
            }
            // check content not null
            if (!ue.hasContents()) {
                alert("You must enter comment content!");
                return
            }
            // if everything ok, send request
            var Pid = $("#Pid").val();
            $.ajax({
                method: "POST",
                url: "/api/comment/add",
                dataType: "json",
                data: {
                    Pid: Pid,
                    content: ue.getContent()
                },
                success: data => {
                    if (data.status !== 1) {
                        alert("Create comment failed. Please try again!")
                    }
                    location.href = "/post/" + Pid + "?order=desc";
                }
            })
        })
    </script>

    {# Pagination #}
    <nav {% if data['num_page'] <= 1 %}style="display: none"{% endif %}>
        <ul class="pagination justify-content-center">
            <li class="page-item {% if data['page'] == 1 %}disabled{% endif %}">
                <a class="page-link" href="javascript:setParam('page',{{ data['page'] - 1 }})"
                   tabindex="-1">Previous</a>
            </li>

            {% for i in range(1, 1 + data['num_page']) %}
                <li class="page-item{% if i == data['page'] %} active {% endif %}">
                    <a class="page-link" href="javascript:setParam('page',{{ i }})">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item {% if data['page'] == data['num_page'] %}disabled{% endif %}">
                <a class="page-link" href="javascript:setParam('page',{{ data['page'] + 1 }})">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        {# TODO: ajax function#}
    </script>
{% endblock %}
