{% extends "base.html" %}

{% block title %}My Notifications{% endblock %}

{% block page_content %}
    <style>
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .ntf-body {
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #more {
            border: 1px solid black;
            height: 40px;
            width: 90%;
            margin-bottom: 5px;
        }

        .ntf-box {
            border: 1px solid #eee;
            width: 90%;
            height: 70px;
            background-color: white;
            margin-bottom: 5px;
        }

        .new-ntf {
            background-color: #efef92;
        }

        .ntf-msg {
            width: 100%;
            height: 65%;
            padding-left: 10px;
            padding-top: 3px;
            font-size: 1.2rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .ntf-time {
            width: 100%;
            height: 35%;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-right: 10px;
            color: #aaa;
        }
    </style>
    <div class="title">Notifications</div>
    <div class="ntf-body">

    </div>

    <script src="{{ url_for("static", filename="/js/notifications.js") }}"></script>
{% endblock %}
