{% extends "base.html" %}

{% block title %}My Notifications{% endblock %}

{% block page_content %}
    <style>
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .ntf-body {
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #more {
            border: 1px solid black;
            height: 40px;
            width: 90%;
            margin-bottom: 5px;
        }
        .ntf-box {
            border: 1px solid black;
            width: 90%;
            height: 80px;
        }
        .new-ntf {
            background-color: #efef92;
        }
    </style>
    <div class="title">Notifications</div>
    <div class="ntf-body">

    </div>

    <script>
        alert('Still in Beta phase. Only the first 10 new notifications will be correctly marked as "new".')
        var is_end = 0;
        var cursor_end = 0;

        var flag = false;  // flag that forces await on async fetch
        var win = $(window);

        function fetchNtf() {
            flag = false;
            $.get({
                url: "/api/get_ntf?end=" + cursor_end,
                success: data => {
                    if (data.status) {
                        cursor_end = data.cursor_end;
                        is_end = data.is_end;
                        let ntfs = data.ntfs;
                        for (let i=0;i<ntfs.length;i++) {
                            let ntf = ntfs[i];
                            $(".ntf-body").append('<div class="ntf-box' +((ntf.is_new)?" new-ntf":"")+'">'+ntf.starter+
                                ntf.Sid+" "+ntf.action+ "ed your "+ ntf.target+ntf.Tid+" on "+ntf.timestamp+'</div>');
                        }
                        flag = true;
                    }
                }
            })
        }
        // initial fetch
        fetchNtf();

        // fetch when scroll reaches end and not is_end
        var beforeScrollTop = win.scrollTop();
        win.on("scroll", function(){
            let afterScrollTop = $(this).scrollTop();
            let scrollHeight = $(document).height();
            let windowHeight = $(this).height();  // window.innerHeight
            if((afterScrollTop-beforeScrollTop>0)&&(afterScrollTop+windowHeight>=scrollHeight-20)&&flag&&!is_end){
                fetchNtf();
            }
            beforeScrollTop = afterScrollTop;
        });
    </script>
{% endblock %}
