{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block page_content %}
    <style>
        #avatar-upload {
            margin-top: 4px;
        }

        #view-origin {
            margin-left: 2vw;
            position: relative;
            bottom: -20px;
        }

        /* status box */
        .status-wrapper {
            display: flex;
            justify-content: space-around;
            height: 15vmin;
            width: 100%;
        }

        .sep-line {
            width: 0;
            height: 100%;
            border-left: 1px solid #7b7b7b;
        }

        .status-box {
            width: 25%;
            height: 15vmin;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease-out;
        }

        .status-box:hover {
            background-color: #eeeeee;
        }

        .status-des {
            color: #171A21;
            font-family: Geneva, sans-serif;
            font-size: 4vmin;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .status-num {
            color: #171A21;
            font-size: 3.5vmin;
        }
    </style>
    <div class="display-6">{{ data['nickname'] }}</div>
    <hr>
    {% if data['banned'] == 1 %}
        {% if data['isCurrent'] %}
            <div class="alert-danger">You are banned until: {{ data['banDuration'] }}</div>
        {% else %}
            <div class="alert-danger">User currently banned.</div>
        {% endif %}
    {% endif %}
    <div class="avatar-wrapper">
        {% if data['isCurrent'] %}
            <h4>Change your Avatar</h4>
            <img id="avatar-upload" style=" cursor: pointer" src="{{ '/cdn/'+ session.user_info["avatar"] }}"
                 width="100"
                 height="100" class="rounded-circle" data-toggle="tooltip" title="Change your avatar" alt="">
            <input id="uploadImg" type="file" accept="image/*" style="display: none">
        {% else %}
            <img id="avatar-upload" src="{{ '/cdn/'+ data["avatar"] }}" width="100"
                 height="100" class="rounded-circle" alt="">
        {% endif %}
        <div class="btn btn-primary" id="view-origin">View Original</div>
    </div>
    <hr>
    <div class="status-wrapper">
        <div class="status-box">
            <p class="status-des">  <!-- index 0 -->
                {% if data["isCurrent"] %}My Posts{% else %}Posts{% endif %}
            </p>
            <p class="status-num">{{ data["post_count"] }}</p>
        </div>
        <div class="sep-line"></div>
        <div class="status-box">  <!-- index 2 -->
            <p class="status-des">
                {% if data["isCurrent"] %}My Comments{% else %}Comments{% endif %}
            </p>
            <p class="status-num">{{ data["comment_count"] }}</p>
        </div>
        <div class="sep-line"></div>
        <div class="status-box">  <!-- index 4 -->
            <p class="status-des">Subscriptions</p>
            <p class="status-num">{{ data["subs_count"] }}</p>
        </div>
        <div class="sep-line"></div>
        <div class="status-box">  <!-- index 6 -->
            <p class="status-des">Browse History</p>
            <p class="status-num">{{ data["history_count"] }}</p>
        </div>
    </div>
    <hr>
    <div class="h3">
        Date of Birth:
        {{ 'Not Set' if data['dateOfBirth'] is none else moment(data['dateOfBirth']).format('YYYY/M/D') }}
    </div>
    <div class="h3">Gender: {{ 'Not Set' if data['gender'] is none else data['gender'] }}</div>
    <div class="h3">Email Address: {{ 'Not Set' if data['email'] is none else data['email'] }}</div>
    <div class="h3">Phone Number: {{ 'Not Set' if data['phoneNumber'] is none else data['phoneNumber'] }}</div>
    <div class="h3">Address: {{ 'Not Set' if data['address'] is none else data['address'] }}</div>
    <hr>
    {# Modal trigger for change profile #}
    {% if data['isCurrent'] %}
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#changeProfileModal">
            Edit profile
        </button>
    {% endif %}

    {# Modal window for change profile #}
    <div class="modal fade" id="changeProfileModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeProfileLabel">Change profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nickname" class="col-form-label">nickname</label>
                            <input type="text" class="form-control" id="nickname" name="nickname"
                                   value="{{ data['nickname'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="dateOfBirth" class="col-form-label">Date of Birth:</label>
                            <input type="date" class="form-control" id="dateOfBirth" name="date_of_birth">
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="col-form-label">Gender</label>
                            <select id="gender" name="gender" class="form-select">
                                <option selected disabled value="">{{ 'Not set' if data['gender'] is none }}</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email</label>
                            <input id="email" class="form-control" name="email" type="email"
                                   placeholder="{{ 'john@example.com' if data['email'] is none }}">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Phone number</label>
                            <input type="tel" id="phone" class="form-control" name="phone_number"
                                   placeholder="123456789"
                                   value="{{ '' if data['phoneNumber'] is none else data['phoneNumber'] }}">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="col-form-label">Address</label>
                            <label>
                                <input type="text" id="address" class="form-control" name="address"
                                       placeholder="Address"
                                       value="{{ '' if data['address'] is none else data['address'] }}">
                            </label>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-primary submit-pi">Save change</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .pop-up {
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);

            position: fixed;
            top: 0;
            left: 0;

        }

        /* all wrapper */
        .list-wrapper {
            display: none;
            height: 42vmax;
            z-index: 10;

            position: relative;
            left: calc(50% - 25px - 0px); /* calc(50% - w1 - l1) */
            top: calc(50% + 40px - 0px); /* calc(50% + header height - t1) */
            transform: translate(-50%, -50%);
        }

        .post-list-wrapper {
            width: 40vmax;
        }

        .comment-list-wrapper {
            width: 45vmax;
        }

        .subs-list-wrapper {
            width: 35vmax;
        }

        .history-list-wrapper {
            width: 40vmax;
        }

        /* head */
        .head-wrapper {
            display: flex;
            width: 100%;
            height: calc(25px + 10px); /* h1 + x2 (x2 is the top margin you want for list-wrapper) */
        }

        .list-des {
            width: calc(100% - 25px - 10px - 0px); /* calc(100% - w1 - x1 - l1) */
            margin-left: 10px; /* x1 */
        }

        .des-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 25px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-width: 50px;
            max-width: 90%;
            padding-bottom: 5px;

            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hide {
            height: 25px; /* h1 */
            width: 25px; /* w1 */
            outline: none;
            cursor: pointer;
            color: black;
            background-color: #8e8e8e;
            border: 1px dashed black;
            border-radius: 100%;
            transition: all 0.3s ease-out;
            font-size: 16px;
            text-align: center;
            margin: 0;

            position: relative;
            top: 0; /* t1 */
            left: 0; /* l1 */
        }

        .hide:hover {
            border: 1px solid black;
            color: white;
            background-color: #5b5b5b;
            transform: rotate(90deg);
        }

        /* body (list) */
        .content-list { /* height and width are decided by each one's wrapper */
            position: relative;
            left: calc(25px + 0px + 10px); /* 25px = w1, 0px = l1, x1 = 10px = left margin you want */
            top: 0;

            border: 1px solid #2f2e2e;
            border-radius: 10px;
            background-color: rgb(245, 245, 245);
            width: calc(100% - 25px - 10px - 0px); /* calc(100% - h1 - x1 - l1) */
            height: calc(100% - 25px - 10px - 0px); /* calc(100% - h1 - x2 - t1) */

            display: flex;
            justify-content: center;
            align-content: flex-start;
            flex-wrap: wrap;
        }

        .content {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #b8b7b7;
            width: 95%;
            height: 11.5%; /* (100% - 8%) / 8 */
        }

        /* common class for content */
        .center-nowrap {
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .post-title {
            max-width: 80%;
            font-size: 20px;
            font-family: IBMPlexSans, Arial, sans-serif;
            font-weight: bold;
        }

        .post-title:hover {
            text-decoration: underline;
        }

        .board-name {
            font-family: BentonSans, sans-serif;
        }

        .timestamp {
            font-family: BentonSans, sans-serif;
            cursor: default;
            color: #999898;
        }

        /* content: post */
        .post {
            flex-direction: column;
            justify-content: space-around;
        }

        .p-top {
            height: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2px;
        }

        .p-bottom {
            height: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;
        }

        .p-del {
            color: blueviolet;
            text-decoration: underline;
            cursor: pointer;
        }

        /* content: comment */
        .comment {
            flex-direction: column;
            justify-content: space-around;
        }

        .c-top {
            height: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2px;
        }

        .c-bottom {
            height: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;
        }

        .c-text {
            max-width: 80%;
            font-size: 20px;
            font-family: IBMPlexSans, Arial, sans-serif;
            font-weight: bold;
        }

        .c-text:hover {
            text-decoration: underline;
        }

        .c-ptitle {
            font-family: BentonSans, sans-serif;
        }

        /* content: history */
        .history {
            flex-direction: column;
            justify-content: space-around;
        }

        .h-top {
            height: 55%;
            display: flex;
            margin-top: 2px;
        }

        .h-bottom {
            height: 35%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
        }

        .h-bname {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 40%;
        }

        .h-time {
            max-width: 25%;
        }

        .h-poster {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .h-time {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        /* content: subs */
        .subs {
            height: 18.4%; /* (100% - 8%) / 5 */
            justify-content: space-between;
        }

        .s-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 70%;
        }

        .s-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-basis: 20%;
        }

        .s-cover {
            /* content width = 95% * (100% - 35px) * 35vmax, height = 11.5% * (100% - 35px) * 42vmax */
            height: 70%;
            width: 23.4%;
            border-radius: 10px;
            background-color: white;
            object-fit: cover;
        }

        .s-bname {
            width: 68%;
            font-size: 20px;
            text-align: justify;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .s-unsub {
            color: red;
            text-decoration: underline;
            cursor: pointer;
        }

        /* foot */
        .foot-wrapper {
            border-bottom: none;
            height: 8%;
            justify-content: space-around;
        }

        .arrow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            font-size: 20px;
        }

        .index {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 20px;
        }

        /* loading */
        .loading {
            display: none;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 4rem;
            font-family: "Courier New", monospace;
        }

        .close-loading {
            background-color: red;
            border-radius: 100%;
            width: 5vmax;
            height: 5vmax;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            cursor: pointer;

            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        /* general class for content */
        .href {
            cursor: pointer;
        }

        /* status class */
        .deleted { /* status = 1 or 2 */
            color: darkgrey;
        }
    </style>
    <!-- popup (show when click on status box) -->
    <div class="pop-up">
        <div class="loading">Loading...<br>Please wait...
            <div class="close-loading">&times;</div>
        </div>
        <!-- for posts -->
        <div class="post-list-wrapper list-wrapper">
            <div class="head-wrapper">
                <div class="hide">&#10005</div>
                <div class="list-des"><p class="des-text"></p></div>
            </div>
            <div class="post-list content-list">
                {% for _ in range(8) %}
                    <div class="post content">
                        <div class="p-top">
                            <div class="p-title post-title center-nowrap href"></div>
                            {% if session["Uid"] == data["Uid"] %}
                                <div class="p-del"></div>
                            {% endif %}
                        </div>
                        <div class="p-bottom">
                            <div class="p-bname board-name center-nowrap href"></div>
                            <div class="p-time timestamp center-nowrap"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="content foot-wrapper">
                    <div class="prev-arrow arrow">&#9668Prev</div>
                    <div class="index">-/-</div>
                    <div class="next-arrow arrow">Next&#9658</div>
                </div>
            </div>
        </div>
        <!-- for comment -->
        <div class="comment-list-wrapper list-wrapper">
            <div class="head-wrapper">
                <div class="hide">&#10005</div>
                <div class="list-des"><p class="des-text"></p></div>
            </div>
            <div class="comment-list content-list">
                {% for _ in range(8) %}
                    <div class="comment content">
                        <div class="c-top">
                            <div class="c-text center-nowrap href"></div>
                            {# post-title #}
                            {% if session["Uid"] == data["Uid"] %}
                                <div class="c-del"></div>
                            {% endif %}
                        </div>
                        <div class="c-bottom">
                            <div class="c-ptitle center-nowrap href"></div>
                            {# board-name #}
                            <div class="c-time timestamp center-nowrap"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="content foot-wrapper">
                    <div class="prev-arrow arrow">&#9668Prev</div>
                    <div class="index">-/-</div>
                    <div class="next-arrow arrow">Next&#9658</div>
                </div>
            </div>
        </div>
        <!-- for subs -->
        <div class="subs-list-wrapper list-wrapper">
            <div class="head-wrapper">
                <div class="hide">&#10005</div>
                <div class="list-des"><p class="des-text"></p></div>
            </div>
            <div class="subs-list content-list">
                {% for _ in range(5) %}
                    <div class="subs content">
                        <div class="s-left">
                            <img class="s-cover" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADU
                    lEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" alt="">
                            <div class="s-bname href"></div>
                        </div>
                        <div class="s-right">
                            {% if session["Uid"] == data["Uid"] %}
                                <div class="s-unsub center-nowrap" data-a="0"></div>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
                <div class="content foot-wrapper">
                    <div class="prev-arrow arrow">&#9668Prev</div>
                    <div class="index">-/-</div>
                    <div class="next-arrow arrow">Next&#9658</div>
                </div>
            </div>
        </div>
        <!-- for history -->
        <div class="history-list-wrapper list-wrapper">
            <div class="head-wrapper">
                <div class="hide">&#10005</div>
                <div class="list-des"><p class="des-text"></p></div>
            </div>
            <div class="history-list content-list">
                {% for _ in range(8) %}
                    <div class="history content">
                        <div class="h-top">
                            <div class="h-title post-title center-nowrap href"></div>
                        </div>
                        <div class="h-bottom">
                            <div class="h-bname board-name center-nowrap href"></div>
                            <div class="h-poster href"></div>
                            <div class="h-time timestamp center-nowrap"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="content foot-wrapper">
                    <div class="prev-arrow arrow">&#9668Prev</div>
                    <div class="index">-/-</div>
                    <div class="next-arrow arrow">Next&#9658</div>
                </div>
            </div>
        </div>

    </div>

    <input type="hidden" id="is-current" value="{{ data["isCurrent"] }}">
    <input type="hidden" id="Uid" value="{{ data["Uid"] }}">
    <script src="{{ url_for("static", filename="/js/profile.js") }}"></script>
{% endblock %}
