{% extends "base.html" %}

{% block title %} Report {% endblock %}
{% block page_content %}
    <div class="h3">You're filing a report for {{ data['target'] + ' ' + data['id'] }}</div>
    <br>
    <form>
        <input type="hidden" id="target" value="{{ data['target'] }}">
        <input type="hidden" id="id" value="{{ data['id'] }}">
        <textarea class="form-control" name="reason" id="r-reason" rows="10"
                  placeholder="Please state your reason"></textarea>
        <br>
    </form>
    <button class="btn btn-primary" id="report-submit">Submit</button>
    <script src="{{ url_for("static", filename="/js/report.js") }}"></script>
{% endblock %}
